# Python & Pandas Essentials: The Drills

## Course Context
Before diving into complex Data Analytics, you must master the tools of the trade. 

This notebook contains **30+ exercises** covering:
1.  **Strings**: Cleaning dirty text data.
2.  **Lists**: Managing sequences of numbers.
3.  **Dictionaries**: Working with key-value pairs.
4.  **Pandas Basics**: Creating and inspecting tables.

### Instructions
Each section has a **Task**, a **Hint**, and a **Solution**. Try to solve it yourself before looking at the solution!

--- 
## Part 1: Strings (Data Cleaning Prep)
**Goal:** Master methods like `.strip()`, `.upper()`, `.replace()`, and `.split()`.

### Exercise 1.1: Basic Cleaning
**Task:** 
You have a dirty product code `raw_code = "  abc-123  "`. 
1. Remove the extra spaces.
2. Convert it to Uppercase.
3. Print the final result (`ABC-123`).

In [1]:
# YOUR CODE HERE
raw_code = "  abc-123  "
clean_code = raw_code.strip().upper()
print(clean_code)

ABC-123

### Exercise 1.2: Fixing Currency
**Task:**
You have a price string `price = "$1,200.50"`.
1. Remove the `$` symbol.
2. Remove the `,` (comma).
3. Convert the result to a `float` number.

In [2]:
# YOUR CODE HERE
price = "$1,200.50"
clean_price = price.replace("$", "").replace(",", "")
price_float = float(clean_price)
print(price_float)

1200.5

### Exercise 1.3: Extracting Data (Splitting)
**Task:**
You have an email `email = "john.doe@company.com"`.
1. Split the string into two parts using the `@` symbol.
2. Print only the domain name (`company.com`).

In [3]:
# YOUR CODE HERE
email = "john.doe@company.com"
my_split = email.split("@")[1]
print(my_split)

company.com

--- 
## Part 2: Lists (Sequences)
**Goal:** Master indexing, slicing, methods like `.append()`, and functions like `len()`.

### Exercise 2.1: Slicing
**Task:**
Given the list `months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']`:
1. Print the first 3 months.
2. Print the last 2 months.

In [4]:
# YOUR CODE HERE
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
print(months[:3])    
print(months[-2:])

['Jan', 'Feb', 'Mar']
['May', 'Jun']

### Exercise 2.2: Modifying Lists (Methods)
**Task:**
1. Start with an empty list `cart = []`.
2. Use `.append()` to add "Apples".
3. Use `.append()` to add "Bananas".
4. Use `.remove()` to take out "Apples".

In [5]:
# YOUR CODE HERE
cart = []
cart.append("Apples")
cart.append("Bananas")
cart.remove("Apples")
print(cart)

['Bananas']

### Exercise 2.3: Aggregation (Functions)
**Task:**
Given `sales = [100, 200, 300, 400]`:
1. Use `len()` to find the number of transactions.
2. Use `sum()` to find the total revenue.
3. Calculate the Average (Total / Count) and print it.

In [6]:
# YOUR CODE HERE
sales = [100, 200, 300, 400]
count = len(sales)
total = sum(sales)
average = total / count
print(average)

250.0

--- 
## Part 3: Dictionaries (Key-Value Pairs)
**Goal:** Accessing data, `.keys()`, `.values()`, and updating records.

### Exercise 3.1: Creating and Accessing
**Task:**
1. Create a dictionary named `employee` with keys: `name`="Alice", `dept`="Sales", `salary`=50000.
2. Print the `dept`.
3. Print the keys using `.keys()`.

In [7]:
# YOUR CODE HERE
employee = {
    "name": "Alice",
    "dept": "Sales",
    "salary": 50000
}

print(employee["dept"])
print(employee.keys())

Sales
dict_keys(['name', 'dept', 'salary'])

### Exercise 3.2: Updating Data
**Task:**
1. Using the `employee` dictionary from above, change the `salary` to 55000.
2. Add a new key `location` with value "New York".
3. Print the final dictionary.

In [8]:
# YOUR CODE HERE
employee["salary"] = 55000
employee["location"] = "New York"

print(employee)

{'name': 'Alice', 'dept': 'Sales', 'salary': 55000, 'location': 'New York'}

--- 
## Part 4: Pandas Basics
**Goal:** Series, DataFrames, simple analysis functions (`mean`, `describe`, `value_counts`).

In [9]:
# Setup: Import pandas
import pandas as pd

### Exercise 4.1: From Dictionary to DataFrame
**Task:**
1. Create a DataFrame `df` from the following dictionary:
```python
data = {
    "Product": ["Laptop", "Mouse", "Monitor", "Laptop", "Mouse"],
    "Price": [1000, 25, 200, 1000, 25],
    "Units": [5, 10, 5, 2, 20]
}
```
2. Print the `head()`.

In [10]:
# YOUR CODE HERE
data = {
    "Product": ["Laptop", "Mouse", "Monitor", "Laptop", "Mouse"],
    "Price": [1000, 25, 200, 1000, 25],
    "Units": [5, 10, 5, 2, 20]
}

df = pd.DataFrame(data)
print(df.head())

   Product  Price  Units
0   Laptop   1000      5
1    Mouse     25     10
2  Monitor    200      5
3   Laptop   1000      2
4    Mouse     25     20

### Exercise 4.2: Simple Analysis (Methods)
**Task:**
Using the `df` created above:
1. Use `.describe()` to get a statistical summary.
2. Use `.mean()` on the "Price" column to find the average price.
3. Use `.sum()` on the "Units" column to find the total units sold.

In [11]:
# YOUR CODE HERE
df.describe()
df["Price"].mean()
df["Units"].sum()

np.int64(42)

### Exercise 4.3: Unique Counts
**Task:**
We want to know how many times each Product appears in the list.
1. Select the `Product` column.
2. Use the `.value_counts()` method.

In [12]:
# YOUR CODE HERE
df["Product"].value_counts()

Product
Laptop     2
Mouse      2
Monitor    1
Name: count, dtype: int64

### Exercise 4.4: Creating New Columns
**Task:**
Calculate the Revenue for each row.
1. Create a new column `df["Revenue"]`.
2. Set it equal to `df["Price"]` multiplied by `df["Units"]`.
3. Print the dataframe.

In [13]:
# YOUR CODE HERE
df["Revenue"] = df["Price"] * df["Units"]
print(df)

   Product  Price  Units  Revenue
0   Laptop   1000      5     5000
1    Mouse     25     10      250
2  Monitor    200      5     1000
3   Laptop   1000      2     2000
4    Mouse     25     20      500

### Exercise 4.5: Filtering (Boolean Indexing)
**Task:**
Create a new dataframe called `expensive_items` that only contains rows where the `Price` is greater than 500.

In [14]:
# YOUR CODE HERE
expensive_items = df[df["Price"] > 500]
print(expensive_items)

  Product  Price  Units  Revenue
0  Laptop   1000      5     5000
3  Laptop   1000      2     2000