# Pandas Practice Workbook

## Instructions
This notebook contains a series of exercises to test your knowledge of Pandas basics. 
1.  **Topic 1:** Pandas Series
2.  **Topic 2:** DataFrames
3.  **Topic 3:** CSV & Data Analysis

### Setup
Run the cell below first. It imports Pandas and creates a dummy CSV file (`practice_sales.csv`) that we will use later in the exercises.

In [1]:
import pandas as pd

# Create a dummy CSV file for exercises
csv_content = """
TransactionID,Product,Price,UnitsSold
1001,Laptop,1200,5
1002,Mouse,25,100
1003,Monitor,300,50
1004,Keyboard,45,75
1005,Headphones,70,40
1006,Laptop,1200,2
1007,Mouse,25,20
1008,Monitor,300,10
1009,Keyboard,45,5
1010,Headphones,70,60
"""

with open("practice_sales.csv", "w") as f:
    f.write(csv_content.strip())

print("Setup Complete: Pandas imported and 'practice_sales.csv' created.")

Setup Complete: Pandas imported and 'practice_sales.csv' created.

--- 
## Section 1: Pandas Series
**Goal:** Practice creating 1D arrays and using custom labels.

### Exercise 1.1: Basic Creation
Create a Pandas Series from the list `[10, 20, 30, 40]` and print it.

In [3]:
# YOUR CODE HERE
list = [10, 20, 30, 40]
print(list)

[10, 20, 30, 40]

### Exercise 1.2: Custom Indexes
Create a Series with values `["Alice", "Bob", "Charlie"]` and assign them the indexes `["ID_1", "ID_2", "ID_3"]`.

In [4]:
# YOUR CODE HERE
name = ["Alice", "Bob", "Charlie"]
my_series = pd.Series(name, index = ["ID_1", "ID_2", "ID_3"])
my_series

ID_1      Alice
ID_2        Bob
ID_3    Charlie
dtype: object

### Exercise 1.3: Accessing by Label
Using the Series you created in Exercise 1.2, print only the value for `ID_2`.

In [5]:
# YOUR CODE HERE
print(my_series[1])

Bob

/tmp/ipykernel_7912/2152737429.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(my_series[1])

### Exercise 1.4: Dictionary to Series
Create a Series from the following dictionary: `{"Monday": 15, "Tuesday": 20, "Wednesday": 22}`.

In [6]:
# YOUR CODE HERE
day = {"Monday": 15, "Tuesday": 20, "Wednesday": 22}
day_series = pd.Series(day)
print(day_series)

Monday       15
Tuesday      20
Wednesday    22
dtype: int64

--- 
## Section 2: DataFrames
**Goal:** Practice creating tables, locating rows, and handling named indexes.

### Exercise 2.1: Creating a DataFrame
Create a DataFrame from this dictionary:
```python
data = {
  "City": ["London", "Paris", "New York"],
  "Population": [8900000, 2100000, 8400000]
}
```

In [10]:
# YOUR CODE HERE
data = {
  "City": ["London", "Paris", "New York"],
  "Population": [8900000, 2100000, 8400000]
}
df = pd.DataFrame(data)
print(df)

       City  Population
0    London     8900000
1     Paris     2100000
2  New York     8400000

### Exercise 2.2: Locating a Single Row
Using the DataFrame from 2.1, use `.loc` to print the row for **Paris** (Index 1).

In [11]:
# YOUR CODE HERE
print(df.loc[1])

City            Paris
Population    2100000
Name: 1, dtype: object

### Exercise 2.3: Locating Multiple Rows
Using the DataFrame from 2.1, use `.loc` to print the rows for **London** (0) and **New York** (2) together.

In [14]:
# YOUR CODE HERE
print(df.loc[[0, 2]])

       City  Population
0    London     8900000
2  New York     8400000

### Exercise 2.4: Named Indexes
Re-create the City DataFrame, but this time specify the index as `["UK", "FR", "US"]`. Then, access the data for "FR".

In [20]:
# YOUR CODE HERE
df = pd.DataFrame(data, index = ["UK", "FR", "US"])
print(df.loc["FR"])

City            Paris
Population    2100000
Name: FR, dtype: object

--- 
## Section 3: CSV and Analysis
**Goal:** Practice reading files and using `head`, `tail`, and `info`.
*(We are using the `practice_sales.csv` file created in the Setup step)*

### Exercise 3.1: Loading a CSV
Load `practice_sales.csv` into a variable named `sales_df` and print the first 5 rows.

In [26]:
# YOUR CODE HERE
sales_df = pd.read_csv('practice_sales.csv')

print(sales_df)

   TransactionID     Product  Price  UnitsSold
0           1001      Laptop   1200          5
1           1002       Mouse     25        100
2           1003     Monitor    300         50
3           1004    Keyboard     45         75
4           1005  Headphones     70         40
5           1006      Laptop   1200          2
6           1007       Mouse     25         20
7           1008     Monitor    300         10
8           1009    Keyboard     45          5
9           1010  Headphones     70         60

### Exercise 3.2: Head with Arguments
Print the first **8 rows** of `sales_df`.

In [27]:
# YOUR CODE HERE
sales_df = pd.read_csv('practice_sales.csv')
print(sales_df.head(8))

   TransactionID     Product  Price  UnitsSold
0           1001      Laptop   1200          5
1           1002       Mouse     25        100
2           1003     Monitor    300         50
3           1004    Keyboard     45         75
4           1005  Headphones     70         40
5           1006      Laptop   1200          2
6           1007       Mouse     25         20
7           1008     Monitor    300         10

### Exercise 3.3: Tail
Print the last **3 rows** of `sales_df`.

In [28]:
# YOUR CODE HERE
print(sales_df.tail(3))

   TransactionID     Product  Price  UnitsSold
7           1008     Monitor    300         10
8           1009    Keyboard     45          5
9           1010  Headphones     70         60

### Exercise 3.4: Info
Use the `info()` method to answer the following questions:
1. How many total entries (rows) are there?
2. Are there any null values?
3. What is the data type of the `Price` column?

In [29]:
# YOUR CODE HERE (Run info() to find the answers)
print(sales_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionID  10 non-null     int64
 1   Product        10 non-null     object
 2   Price          10 non-null     int64
 3   UnitsSold      10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
None

### Exercise 3.5: Max Rows
Check the current Pandas setting for the maximum number of rows displayed.

In [31]:
# YOUR CODE HERE
print("Max rows display limit:", pd.options.display.max_rows)

Max rows display limit: 60

### Bonus Exercise: Full Display
Use `to_string()` to print the entire `sales_df` DataFrame as a string.

In [32]:
# YOUR CODE HERE
print(df.to_string())

   TransactionID     Product  Price  UnitsSold
0           1001      Laptop   1200          5
1           1002       Mouse     25        100
2           1003     Monitor    300         50
3           1004    Keyboard     45         75
4           1005  Headphones     70         40
5           1006      Laptop   1200          2
6           1007       Mouse     25         20
7           1008     Monitor    300         10
8           1009    Keyboard     45          5
9           1010  Headphones     70         60